name: PyLops

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-13 ]
        python-version: ["3.10", "3.11", "3.12"]

    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - name: Get history and tags for SCM versioning to work
      run: |
        git fetch
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OpenMPI on Linux
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y openmpi-bin libopenmpi-dev build-essential
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install packaging flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Install pylops
      run: |
        python -m setuptools_scm
        pip install .
    - name: Install GeoSymCodes Devito
      run: |
        pip install git+https://github.com/GeoSymCodes/devito.git
    - name: Install clang
      if: runner.os == "Linux"
      run: |
        sudo apt-get update
        sudo apt-get install -y clang
    - name: Test ENV VARS
      if: runner.os == "Linux"
      run: |
        python - << 'EOF'
        from codepy.toolchain import guess_toolchain
        tc = guess_toolchain()
        print(type(tc))
        print(vars(tc))
        EOF
    - name: Test Devito import
      if: runner.os == 'Linux'
      run: |
        python - << 'EOF'
        import devito
        print("Devito OK:", devito.__version__)
        EOF
    - name: Test with pytest
      run: |
        pytest
