name: PyLops

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-latest ]
        python-version: ["3.10", "3.11", "3.12"]

    runs-on: ${{ matrix.platform }}

    env:
      DEVITO_ARCH: gcc
      CC: gcc
      CXX: g++

    steps:
      - uses: actions/checkout@v4

      - name: Get history and tags for SCM versioning to work
        run: |
          git fetch --prune
          git fetch --depth=1 origin +refs/tags/*:refs/tags/* || echo "No tags to fetch"

      - name: Install OpenMPI on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            openmpi-bin \
            libopenmpi-dev \
            build-essential \
            gcc g++ clang

      - name: Install OpenMPI on macOS
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install open-mpi gcc

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements-dev.txt; fi

      - name: Install GeoSymCodes Devito
        run: |
          pip install git+https://github.com/GeoSymCodes/devito.git

      - name: Install pylops
        run: |
          python -m setuptools_scm
          pip install .

      - name: Test with pytest
        run: |
          pytest
