name: PyLops

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-latest ]
        python-version: ["3.10", "3.11", "3.12"]

    runs-on: ${{ matrix.platform }}
    steps:

    - uses: actions/checkout@v4
    - name: Get history and tags for SCM versioning to work
      run: |
        git fetch --prune
        git fetch --depth=1 origin +refs/tags/*:refs/tags/* || echo "No tags to fetch"
        apt update
        apt install -y openmpi-bin libopenmpi-dev
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Install pylops
      run: |
        python -m setuptools_scm
        pip install .
    - name: Test with pytest
      run: |
        pytest
